@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*, *::after, *::before{
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1140px;
  width: 95%;
  margin: 0 auto;
  padding: 1rem 0;
}

body{
  font-family: 'Montserrat', sans-serif;
}

button,input{
  font-family: 'Montserrat', sans-serif;
}